@model IEnumerable<Parcial1.Models.Autor>

@{
    ViewBag.Title = "Autores";
}
<div class="d-flex flex-row justify-content-between">
    <p>
        @Html.ActionLink("Crea nuevo autor", "Create", new { area = "" }, htmlAttributes: new { @class = "btn btn-primary active" })
    </p>
    @using (Html.BeginForm("Index", "Autor"))
    {
        <div class="form-inline">
            @Html.Label("mostraTodos", "Todos", htmlAttributes: new { @class= "form-check-label" })
            @Html.CheckBox("mostrarTodos", false, htmlAttributes: new {  @class= "form-check-input" , @onchange = "this.form.submit();" })
        </div>
    }
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pais.descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pais.descripcion)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.id })*@
            <a href="@Url.Action("Edit", new { id = item.id })" style="text-decoration:none">
                <img src="~/Assets/imgs/edit-icon.png" alt="Editar" style="width: 20px; height: 20px;"/>
            </a>
            <a href="@Url.Action("Details", new { id = item.id })"  style="text-decoration:none">
                <img src="~/Assets/imgs/details-icon.png" alt="Detalles" style="width: 20px; height: 20px;"/>
            </a>
            <a href="@Url.Action("Delete", new { id = item.id })"  style="text-decoration:none">
                <img src="~/Assets/imgs/delete-icon.png" alt="Eliminar" style="width: 20px; height: 20px;"/>
            </a>
        </td>
    </tr>
}

</table>
