@model Parcial1.Models.Libro

@{
    ViewBag.Title = "Detalle";
}

<h2>@ViewBag.Title</h2>

<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.anio_publicacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.anio_publicacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Autor.nombreCompleto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Autor.nombreCompleto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genero.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genero.descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Volver", "Index")
</p>
