@model Parcial1.Models.Prestamos

@{
    ViewBag.Title = "Detalle";
}

<h2>@ViewBag.Title</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha_prestamo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_prestamo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_devolucion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_devolucion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.nombreCompleto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.nombreCompleto) 
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Libro.titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Libro.titulo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Volver", "Index")
</p>
